<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Irony.NetCore" version="1.0.11" targetFramework="net472" />
  <package id="MathNet.Numerics.Signed" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.3.2" targetFramework="net472" />
  <package id="NPOI" version="2.6.2" targetFramework="net472" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="2.1.4" targetFramework="net472" />
  <package id="Syncfusion.Chart.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Chart.Windows" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.DocIO.WinForms" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.GridExport.WinForms" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.GridHelperClasses.Windows" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Grouping.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Linq.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.PivotAnalysis.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.PivotTable.WinForms" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="23.1.38" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="23.1.38" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="XLParser" version="1.5.2" targetFramework="net472" />
</packages>